<section>
    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" href="/Home/mcategories/Technology">
                        <i class="bi bi-cpu-fill text-primary mb-4" style="font-size: 3rem;"></i>
                        <h6 class="mb-3">Technology</h6>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item rounded p-4" href="/Home/mcategories/Educational">
                        <i class="bi bi-book-half text-primary mb-4" style="font-size: 3rem;"></i>
                        <h6 class="mb-3">Educational</h6>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item rounded p-4" href="/Home/mcategories/Medical">
                        <i class="bi bi-heart-pulse-fill text-primary mb-4" style="font-size: 3rem;"></i>
                        <h6 class="mb-3">Medical</h6>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item rounded p-4" href="/Home/mcategories/Mechanic">
                        <i class="bi bi-tools text-primary mb-4" style="font-size: 3rem;"></i>
                        <h6 class="mb-3">Mechanic</h6>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" href="/Home/mcategories/Architectural">
                        <i class="bi bi-building text-primary mb-4" style="font-size: 3rem;"></i>
                        <h6 class="mb-3">Architectural</h6>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item rounded p-4" href="/Home/mcategories/Agricultural">
                        <i class="bi bi-tree-fill text-primary mb-4" style="font-size: 3rem;"></i>
                        <h6 class="mb-3">Agricultural</h6>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item rounded p-4" href="/Home/mcategories/Other">
                        <i class="bi bi-three-dots text-primary mb-4" style="font-size: 3rem;"></i>
                        <h6 class="mb-3">Other</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Category End -->
</section>